.EditProfileModal form{
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.EditProfileModal label {
    display: block;
    margin-bottom: 8px;
}

.EditProfileModal input {
    padding: 4px;
    width: 100%;
}

.EditProfileModal button {
    padding: 8px;
}