.ListCell {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 24px;
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.ListCell:hover {
    cursor: pointer;
    background-color: rgba(73, 73, 73, 0.85);
}

.ListCell h3 {
    font-size: 1rem;
}

@media(min-width: 768px) {
    .ListCell h3 {
        font-size: 1.2rem;
    }

    .ListCell {
        font-size: 1rem;
    }
}

