.Navbar {
    background-color: black;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background-color: rgb(148, 11, 11);
}

.Navbar-brand p {
    font-size: 1rem;
}

.Navbar-menu {
    display: none;
    list-style: none;
}

.Navbar-link {
    margin: 0 12px;
    text-transform: uppercase;
}

.Navbar a {
    color: white;
    text-decoration: none;
}

@media(min-width: 768px) {
    .Navbar-menu {
        display: flex;
    }

    .Navbar-brand p {
        font-size: 1.2rem;
    }
}