.PageTitle {
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 24px;
    width: 100%;
    font-family: 'Lexend Mega', sans-serif;
    margin-bottom: 24px;
}

.PageTitle h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
}

@media(min-width: 768px) {
    .PageTitle h1 {
        font-size: 3.4rem;
    }
}