.page-container {
    height: calc(100% - 80px);
    max-width: 1200px;
    margin: 0 auto;
    overflow: scroll;
    padding: 48px 64px;
}

.content-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

