.Searchbar {
    background-color: black;
    padding: 18px;
}

.Searchbar-group {
    display: flex;
}

.Searchbar input {
    flex: 1;
    margin-right: 8px;
    height: 30px;
}

.Searchbar button {
    padding: 0 6px;
}